@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
margin:0;
padding:0;
font-family: 'Montserrat', sans-serif;
letter-spacing:0.5px;
}

#main{
  overflow: hidden;   
  padding-bottom: 100px;
  min-height: 87.5vh;
}

/*Footer*/
#footer{
  background: #323336;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 12px;
  border-top: 3px solid #4287f5;
  position: relative;
  margin-top: 30px; 
  bottom: 0px;
  width: 100%;
}

#footer p{
  margin: auto;
  margin-bottom: 10px;
}

/*Homepage*/
.flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px;
}
.flex > div{
  margin-top: 30px;
  background: #fff;
  width: 81.6%;
  height: 340px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0px 0px 20px rgba(100,100,0,0.5);
}

.flex > div:nth-child(1){
  background-image: url('./flex1.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex > div:nth-child(2){
  background-image: url('./flex2.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex > div:nth-child(3){
  background-image: url('./flex3.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex > div:nth-child(4){
  background-image: url('./flex4.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Admin Page */ 
#product-info{
  text-align: center;
  padding: 10px;
  float: left;
  width: 20%;
  height: 100vh;
  padding-top: 30px;
  background: #323336;
  color: #fff;
  font-size: 18px;
  /* position: sticky; */
  /* top: 0px; */  
}

#product-info input{
  margin:10px 0px 10px 0px;
  width: 80%;
  background: #323336;
  border: none;
  color: #fff;
  border-bottom: 1px solid rgb(155, 155, 155);
  font-weight: 600;
  font-size: 14px;
} 

#product-info input:focus{
  outline:none;
  border: none;
  border-bottom: 1px solid #fff;
}

#product-info select{
  margin:10px 0px 10px 00px;
  width: 80%;
  padding: 2px;
  background: #323336;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgb(115, 115, 115);
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

#product-info input[type="checkbox"]{
  margin-right: 0;
  margin-bottom: 20px;
  width: 10%;
} 

#product-info button[type="submit"]{
  width:80%;
}

#product-info input[type="file"]{
  border: none;
  font-size: 15px;
}

.adminProducts{
  float: right;
  width: 80%;
  padding: 20px;
  padding-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:auto;
  margin-bottom: 20px;
  grid-gap: 1em;
}

.admin-list{
  text-align: start;
  margin: auto;
  min-height: 420px;
  margin-top: 20px;
  padding:15px;
  width: 80%;
  min-width: 280px;
}

.admin-product-image{
  text-align: center;
  height: 250px;
  cursor: pointer;
}

.admin-list:hover{
  box-shadow: 0px 1px 20px rgba(0,0,0,0.1);
}

.admin-list button{ 
  margin-top: 5px;
  width: 50%;
  height: 30px;
}

.admin-product-info{
  margin-top: 15px;
  font-size: 16px;
}

.admin-product-info h5{
  font-size: 18px;
  margin-bottom: -10px;
  line-height: 0;
  text-transform: capitalize;
  font-weight: bold;
}

.admin-product-desc{
  height: 22px;
  line-height:1.5rem;
  overflow:hidden;
  margin-bottom: -18px;
}

.admin-list-btn{
  display: none;
}

.admin-list:hover .admin-list-btn{
  display: inline;
}

/* Wishlist */
.wishlist-container{
  float: right;
  width: 30%;
  background: rgb(245, 245, 245);
  color:#282c3f;
  text-align: center;
  padding: 4px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  right: 0;
  padding-top: 30px;
  overflow: scroll;
  border-left: 1px solid rgb(177, 175, 175);
}

.wishlist-container h4{
  margin-left: 70px;
  text-transform: uppercase;
  
}

.wishlist-productGrid{
  text-align: start;
  padding:10px;
}

.wishlist-product {
  margin-bottom: 10px;
  background-color: #fff;
  padding:10px;
  border: 2px solid rgba(0,0,0,0.1);
}

.wishlist-product Link{
  outline: none;
  text-decoration: none;
}


.wishlist-product img{
  float: left;
  width: 80px;
  margin-right: 40px;
  height: auto;
}

.wishlist-container::-webkit-scrollbar {
  width: 0px;
}
.wishlist-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
  background:rgb(245, 245, 245);
}
.wishlist-container::-webkit-scrollbar-thumb {
  background: #888; 
  background:rgb(245, 245, 245);
}

.wishlist-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
  background:rgb(245, 245, 245);
}


/* Product Pages */
.productContainer h4{
  display: inline;
  margin-left: 30px;
  font-weight: bold;
  width: 10%;
}

.productSort{
  display: inline;
  float: right;
  padding: 0;
  margin-top: 0;
  margin-right: 35px;
}

.productGrid{
  float: right;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
}

.gridProduct{
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 80%;
  padding: 15px;
  padding-top:25px;
  position: relative;
}

.gridProductImage{
  text-align:center;
}

.gridProduct img {
  height: 250px;
  width: auto;
  margin-bottom: 15px;
}

.gridProductName{
  font-weight: bold;
  color: #323336;
}

.gridProductNam Link:hover{
  text-decoration: none;
}

.gridProductWishlist{
  position: absolute;
  top: -18px;
  right: -19px;
}

.gridProductWishlist:active{
  border: 3px solid #4287f5;
  border-radius: 50px;
}

.gridProductWishlist button{
  outline: none;
  padding: 10px 9px 5px 9px;
  background-color: white;
  border-radius: 50px;
  border: 0px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.gridProductWishlist button i{
}

/*Carousel*/

.ant-carousel .slick-slide{
  background-color:#fafafa !important;
}

.ant-carousel .slick-slide:nth-child(2){
  background-image: url('./1.jpg') !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color:#fafafa !important;
}

.ant-carousel .slick-slide:nth-child(3){
  background-image: url('./2.jpg') !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color:#ffc2e0 !important;
}

.ant-carousel .slick-slide:nth-child(4){
  background-image: url('./3.jpg') !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color:#EEB865 !important;
}

.ant-carousel .slick-slide:nth-child(5){
  background-image: url('./4.jpg') !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color:#1B1C20 !important;
}










